* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    height: 100%;
}

h1 {
    text-align: center;
    margin: 3rem;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    margin: 1rem auto;
}